@import "../../assets/styles/vars.scss";

.header {
    &__body {
        margin: 30px auto 0;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__links {
        display: flex;
        margin-right: auto;
        a {
            cursor: pointer;
            color: $text;
            transition: color 0.2s linear;
            @media (any-hover: hover) {
                &:hover {
                    color: $orange;
                }
            }
            &:not(:last-child) {
                margin-right: 45px;
            }
        }
    }

    .namePage {
        font-size: 36px;
        line-height: 100%;
        font-weight: 700;
        margin-right: 47px;
    }

    &__right {
        display: flex;
        align-items: center;
    }

    .user {
        flex: 0 0 50px;
        height: 50px;
        border-radius: 50%;
        margin-left: 15px;
        cursor: pointer;
    }
}
